body{
    background-color: #E0E6F8;
}


.nav-link:hover, .nav-link:focus{
    color: white;
}

.btn:hover, .btn:focus{
    background-color: transparent;
}
#mainBody{
    margin-top: 60px;
}
